body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.background-video {
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  border-width: 0px;
  border-style: solid;
  border-image: linear-gradient(to bottom right, #6c2fb3, #cd52d8) 1;
  box-shadow: 0 0 0 2px #f0c8f0, 0 0 0 4px #bfbff0;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 50px;
  background-color: transparent; /* Add this line */
  transition: opacity 0.3s linear;
  opacity: 0;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.box-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -160px;
}

.box h2 {
  font-size: 45px;
  font-family: monospace;
  font-weight: 200;
  color: whitesmoke;
  margin-bottom: 0px;
  white-space: nowrap;
  position: absolute;
}

.box p {
  font-size: 14px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: linear-gradient(to right, #667eea, #764ba2);
  padding: 0px;
  border-radius: 10px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}

.social-icons::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.social-icons p {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 32px;
  transition: scale 0.2s ease-in-out;
}

.social-icons p:hover {
  color: #6c2fb3;
  scale: 1.5;
  transition: scale 0.2s ease-in-out;
}

.social-icons p:hover svg {
  color: #431ab6;
  transition: color 0.2s ease-in-out;
}

.social-icons p:last-child {
  margin-right: 0;
}

.social-icons svg {
  width: 32px;
  height: 32px;
  padding: 2px;
  margin-right: 5px;
  color: #210a5f;
  transition: color 0.2s ease-in-out;
}

.social-icons p:hover {
  cursor: pointer;
}

.background-video {
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 600px;
  border-width: 0px;
  border-style: solid;
  border-image: linear-gradient(to bottom right, #6c2fb3, #cd52d8) 1;
  box-shadow: 0 0 0 2px #f0c8f0, 0 0 0 4px #bfbff0;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 50px;
  background-color: transparent; /* Add this line */
  transition: opacity 0.3s linear;
  opacity: 0;
}

.box.fade-in {
  opacity: 1;
  transition: opacity 0.3s linear; /* Change opacity to 1 to trigger the fade-in effect */
}

.box-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 250px;
}

.box h2 {
  font-size: 45px;
  font-family: monospace;
  font-weight: 200;
  color: whitesmoke;
  margin: auto;
  margin-top: 35px;
  white-space: nowrap;
  position: absolute;
}

.box p {
  font-size: 14px;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background: linear-gradient(to right, #667eea, #764ba2);
  padding: 0px;
  border-radius: 10px;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}

.social-icons::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.social-icons p {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 32px;
  transition: scale 0.2s ease-in-out;
}

.social-icons p:hover {
  color: #6c2fb3;
  scale: 1.5;
  transition: scale 0.2s ease-in-out;
}

.social-icons p:hover svg {
  color: #431ab6;
  transition: color 0.2s ease-in-out;
}

.social-icons p:last-child {
  margin-right: 0;
}

.social-icons svg {
  width: 32px;
  height: 32px;
  padding: 2px;
  margin-right: 5px;
  color: #210a5f;
  transition: color 0.2s ease-in-out;
}

.social-icons p:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: transparent; /* Add this line */
}

.content h1 {
  font-weight: 500;
  font-family: "Arial", monospace;
  transition: font-size 0.3s ease, transform 0.3s ease;
}

.content button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-family: "Monospace", monospace;
  border: none;
  background-color: #ffffff;
  color: #333333;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.content button:hover {
  background-color: #333333;
  color: #ffffff;
  cursor: pointer;
}

.audio-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.enter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 195px;
  left: 265px;
  color: #6750bb;
  border: none;
  padding: 0.5rem 0.5rem;
  font-family: "monospace";
  font-size: 50px;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.audio-controls input[type="range"] {
  -webkit-appearance: none;
  width: 250px;
  height: 3%;
  padding: 3px 2px;
  background: linear-gradient(to right, #667eea, #764ba2);
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  position: absolute;
  margin-top: 500px;
  margin-right: 250px;
}

.audio-controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s linear;
  width: 35px;
  height: 35px;
}

.audio-controls input[type="range"]::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s linear;
}

.audio-controls input[type="range"]:focus {
  outline: none;
}

.audio-controls input[type="range"]:hover {
  opacity: 1;
}

.vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.particles-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: white;
  border-radius: 0.3rem;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.back-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
